**/server.properties
**/world
**/backups
**/data
**/config

spaceengineers/SpaceEngineersDedicated/*

valheim/data/*
!valheim/data/.gitkeep
valheim/plugins/*
!valheim/plugins/.gitkeep

docker-server.yaml