**/server.properties
**/world
**/backups
**/data
**/config

atm10/data/

direwolf/backups/
direwolf/world/
direwolf/server.properties

spaceengineers/SpaceEngineersDedicated/*

valheim/data/*
!valheim/data/.gitkeep
valheim/plugins/*
!valheim/plugins/.gitkeep

docker-server.yaml