services:
  direwolf:
    build:
      context: direwolf/.
    ports:
      - "25565:25565"
    environment:
      - JAVA_MEMORY_LIMIT=8192
    volumes:
      - ${PWD}/direwolf/server.properties:/direwolf/server.properties
      - ${PWD}/direwolf/backups:/direwolf/backups
      - ${PWD}/direwolf/world:/direwolf/world
    tty: true
    stdin_open: true
    restart: on-failure
  oceanblock:
    build:
      context: oceanblock/.
    ports:
      - "25565:25565"
    environment:
      - JAVA_MEMORY_LIMIT=8192
    volumes:
      - ${PWD}/oceanblock/server.properties:/oceanblock/server.properties
      - ${PWD}/oceanblock/backups:/oceanblock/backups
      - ${PWD}/oceanblock/world:/oceanblock/world
    tty: true
    stdin_open: true
    restart: on-failure
  valheim:
    build:
      context: valheim/.
    cap_add:
      - sys_nice
    ports:
      - "2456-2457:2456-2457/udp"
    environment:
      - SERVER_NAME=
      - SERVER_WORLD=
      - SERVER_PASSWORD=
    volumes:
      - ${PWD}/valheim/data:/opt/valheim/data
      - ${PWD}/valheim/config:/opt/valheim/BepInEx/config
      - ${PWD}/valheim/plugins:/opt/valheim/BepInEx/plugins/
    tty: true
    stdin_open: true
    restart: on-failure
    stop_grace_period: 1m
  terraria:
    container_name: terraria
    image: ryshe/terraria:vanilla-latest
    ports:
      - "7777:7777"
    environment:
      - WORLD_FILENAME=World.wld
      - CONFIGPATH=/root/.local/share/Terraria/Worlds/
    volumes:
      - ${PWD}/terraria/world/:/root/.local/share/Terraria/Worlds
    tty: true
    stdin_open: true
    restart: on-failure
    stop_grace_period: 1m
  satisfactory:
    build:
      context: satisfactory/.
    cap_add:
      - sys_nice
    ports:
      - "15000:15000/udp"
      - "15777:15777/udp"
      - "7777:7777/udp"
      - "7777:7777/tcp"
    volumes:
      - ${PWD}/satisfactory/data:/home/steam/.config/Epic/FactoryGame/Saved/SaveGames
      - ${PWD}/satisfactory/config:/opt/satisfactory/FactoryGame/Saved/Config
    tty: true
    stdin_open: true
    restart: on-failure
    stop_grace_period: 1m
  spaceengineers:
    build:
      context: spaceengineers/.
    ports:
      - "8080:8080"
      - "8766:8766"
      - "27016:27016/udp"
    environment:
      WINEDEBUG: -all
    volumes:
      - ${PWD}/spaceengineers/plugins:/appdata/space-engineers/plugins
      - ${PWD}/spaceengineers/instances:/appdata/space-engineers/instances
      - ${PWD}/spaceengineers/SpaceEngineersDedicated:/appdata/space-engineers/SpaceEngineersDedicated
    tty: true
    stdin_open: true
    restart: on-failure
    stop_grace_period: 1m
  wreckfest:
    build:
      context: wreckfest/.
    ports:
      - "27015-27016:27015-27016"
      - "33540:33540"
    volumes:
      - ${PWD}/wreckfest/config:/opt/wreckfest/config
    tty: true
    stdin_open: true
    restart: on-failure
    stop_grace_period: 1m
  atm9:
    image: itzg/minecraft-server:java21-jdk
    ports:
      - "25565:25565"
    environment:
      MAX_MEMORY: 8G
      EULA: "TRUE"
      TYPE: AUTO_CURSEFORGE
      CF_API_KEY: ''
      CF_PAGE_URL: "https://www.curseforge.com/minecraft/modpacks/all-the-mods-9"
      CF_FORCE_SYNCHRONIZE: "true"
    volumes:
      - ${PWD}/atm9/data:/data
    healthcheck:
      test: mc-health
      start_period: 1m
      interval: 20s
      retries: 10
    tty: true
    stdin_open: true
    restart: on-failure
    stop_grace_period: 1m
  atm10:
    image: itzg/minecraft-server:java21-jdk
    ports:
      - "25565:25565"
    environment:
      MAX_MEMORY: 8G
      EULA: "TRUE"
      TYPE: AUTO_CURSEFORGE
      CF_API_KEY: ''
      CF_PAGE_URL: "https://www.curseforge.com/minecraft/modpacks/all-the-mods-10"
      CF_FORCE_SYNCHRONIZE: "true"
      CF_EXCLUDE_MODS: 986380,394468,447673
      VERSION: 1.21
      NEOFORGE_VERSION: 21.1.42
    volumes:
      - ${PWD}/atm10/data:/data
    healthcheck:
      test: mc-health
      start_period: 1m
      interval: 20s
      retries: 10
    tty: true
    stdin_open: true
    restart: on-failure
    stop_grace_period: 1m
  arma3:
    image: ghcr.io/brettmayson/arma3server/arma3server
    ports:
      - 2302:2302/udp
      - 2303:2303/udp
      - 2304:2304/udp
      - 2305:2305/udp
      - 2306:2306/udp
    environment:
      ARMA_CONFIG: main.cfg
      STEAM_USER: ""
      STEAM_PASSWORD: ""
    volumes:
      - ${PWD}/arma3/configs:/arma3/configs
      - ${PWD}/arma3/mods:/arma3/mods
      - ${PWD}/arma3/mpmissions:/arma3/mpmissions
      - ${PWD}/arma3/servermods:/arma3/servermods
    tty: true
    stdin_open: true
    restart: on-failure
    stop_grace_period: 1m
  7dtd:
    image: vinanrra/7dtd-server
    container_name: 7dtdserver
    environment:
      - LINUXGSM_VERSION=v24.3.4     # Change to use another version of LinuxGSM
      - START_MODE=1                 # Change between START MODES
      - VERSION=stable               # Change between 7 days to die versions
      - PUID=1000                    # Remember to use same as your user
      - PGID=1000                    # Remember to use same as your user
      - TimeZone=Europe/Brussels     # Optional - Change Timezone
    volumes:
      - ${PWD}/7daystodie/7DaysToDie:/home/sdtdserver/.local/share/7DaysToDie/     # 7 Days To Die world saves
      - ${PWD}/7daystodie/LGSM-Config:/home/sdtdserver/lgsm/config-lgsm/sdtdserver # LGSM config folder
      - ${PWD}/7daystodie/ServerFiles:/home/sdtdserver/serverfiles/                # Optional - serverfiles folder
      - ${PWD}/7daystodie/log:/home/sdtdserver/log/                                # Optional - Logs folder
      - ${PWD}/7daystodie/backups:/home/sdtdserver/lgsm/backup/                    # Optional - If BACKUP=NO, backups folder
    ports:
      - 26900:26900/tcp # Default game ports
      - 26900:26900/udp # Default game ports
      - 26901:26901/udp # Default game ports
      - 26902:26902/udp # Default game ports
      - 8080:8080/tcp   # OPTIONAL - WEBADMIN
      - 8082:8082/tcp   # OPTIONAL - WEBSERVER https://7dtd.illy.bz/wiki/Server%20fixes
    ulimits:
      nofile:
        soft: 10240
        hard: 10240
    tty: true
    stdin_open: true
    restart: on-failure
    stop_grace_period: 1m
  astroneer:
    build:
      context: astroneer/.
    ports:
      - "8777:8777"
    volumes:
      - ${PWD}/astroneer/config:/opt/astroneer/Astro/Saved/Config/WindowsServer
    tty: true
    stdin_open: true
    restart: on-failure
    stop_grace_period: 1m